<?xml version="1.0" encoding="UTF-8"?>


<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="omar.meky.cordova.ios-itms-90475"
        version="0.0.0">
    <name>IOS ITMS 90475</name>
    <description>Cordova ITMS 90475 Error Fix Plugin</description>
    <license>MIT</license>
    <keywords>cordova,ios,itms,90475</keywords>
    <repo>https://github.com/omarmeky/cordova-ios-itms-9047.git</repo>
        <platform name="ios">
                <config-file target="*-Info.plist" >
                        <key>UIRequiresFullScreen</key>
                        <string>YES</string>
                </config-file>
        </platform>
</plugin>
